.transition-properties(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  transform: @arguments;
}

.box-shadow(...) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.no-box-shadow() {
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.animation(...) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -o-animation: @arguments;
  animation: @arguments;
}



// New redesign MXINS:



/*
    Usage: 
    
    @pallete: 
      red #ff4040,
      purple #5f4ed8,
      goldy gold;
*/
.make-classes(@attribute, @list, @plus: false) {
    .iter(length(@list));
  
    .iter(@i) when (@i > 0) {
        .iter(@i - 1);
        @pair:  extract(@list, @i); 
        @key:   extract(@pair, 1);
        @value: extract(@pair, 2); 
      
      	@first: extract(@attribute, 0);
        .@{key} when not (@plus = true){
            @{attribute}: @value;
          	@first : @value;
        }
        &.@{key} when (@plus = true){
            @{attribute}: @value;
          	@first : @value;
        }
    }
}


.gradient(@color1, @color2, @percent: 30%){
  @percentnew : unit(@percent, %);
  	background: linear-gradient(45deg, @color1 @percentnew, @color2 100%);
}
